html {
    touch-action: none;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@keyframes animate-sidebar-1 {
    from {
        width: 0;
    }
    to {
        width: 20%;
    }
}

@keyframes animate-sidebar-2 {
    from {
        width: 20%;
    }
    to {
        width: 0;
    }
}